.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button, input {
  cursor: pointer;
}

button {
  background-color: white;
  border: 1px solid black;
  outline: none;
}

#getLink-Btn {
  float: right;
  margin: 1em;
  font-size: 1em;
}

input {
  margin: 1em;
}

.userList, .survey {
  text-align: center;
}

.userName, .surveyStatus, .userResponse {
  display: inline-block;
  margin: 1em;
}
.options {
  text-align: left;
  position: absolute;
  left: 46vw;
}

#Red {
  color: red;
}
#Orange {
  color: orange;
}
#Yellow {
  color: rgb(177, 177, 3);
}
#Green {
  color: green;
}
#Blue {
  color: blue;
}
#Purple {
  color: purple;
}

#submitSurvey {
  margin-left: .6em;
  font-size: 1.2em;

}
